
  body{
    background-color:#d4f3ef;
  }

  hr {
    border-color: grey;
    border-width: 4px;
    border-style: none;
    border-top-style: dotted;
    height:0px;
    width: 5%;
  }

  h2,h4{
    color: #562349;
  }
